@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e7ed; /* Tokyo Night Light Background */
  --foreground: #343b58; /* Tokyo Night Light Foreground */
  --red: #8c4351;
  --orange: #965027;
  --yellow: #8f5e15;
  --green: #385f0d;
  --teal: #33635c;
  --cyan: #006c86;
  --sky-blue: #0f4b6e;
  --blue: #2959aa;
  --magenta: #5a3e8e;
  --white: #343B58; /* Tokyo Night Light Terminal Black, used as white */
  --comment: #6c6e75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1b26; /* Tokyo Night Darker Background */
    --foreground: #a9b1d6; /* Tokyo Night Foreground */
    --red: #f7768e;
    --orange: #ff9e64;
    --yellow: #e0af68;
    --green: #9ece6a;
    --teal: #73daca;
    --cyan: #2ac3de;
    --sky-blue: #7dcfff;
    --blue: #7aa2f7;
    --magenta: #bb9af7;
    --white: #c0caf5; /* Tokyo Night White */
    --comment: #565f89;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
